{% extends "/layout/base.html" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{% endblock %}
{% block content %}
    {% include '/itt/form.html' %}
    {% include '/itt/huong-dan.html' %}
{% endblock %}
{% block script %}
    <script type="text/javascript">
        {% if 'exceed_request.js' in js %}
             {% include '/script/exceed_request.js' %}
        {% else %}
            {% include '/script/imageCheck.js' %}
        {% endif %}
    </script>
{% endblock %}